@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Game Store</h1>
    <p>Welcome to Johnny's Game Store! You can purchase console, accessory and games here. And register as 'Advanced' membership to sell your own product!</p>
    <div class="row">
        <div class="col-sm-2"><a href="/Console">Console</a></div>
        <div class="col-sm-2"><a href="/Accessory">Accessory</a></div>
        <div class="col-sm-2"><a href="/Game">Game</a></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4"></div>
    </div>
</div>



