/SE450/JUnitExtraCredit/dist/
/SE450/JUnitExtraCredit/build/
/SE452/hw2/nbproject/private/
/SE452/hw2/build/
/SE452/MiddleTerm/WideCast/build/
/SE452/MiddleTerm/WideCast/nbproject/private/
/SE452/MiddleTerm/Guess/build/
/SE452/MiddleTerm/Guess/nbproject/private/
/SE452/MiddleTerm/Practice/nbproject/private/
/SE452/MiddleTerm/Practice/build/