@model GameStore.WebUI.Models.OperationViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>

        @if (Model.IsError)
        {
            <div class="alert alert-danger">
                <strong>Error!</strong> @Model.Message
            </div>
            @Html.ActionLink("Back", "Edit/" + Model.Id, "Product", new { area = "" }, new { @class = "btn btn-success" })
        }
        else
        {
            <div class="alert alert-success">
                <strong>Success!</strong> @Model.Message
            </div>
        }
    </div>
</body>
</html>
