@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rong's Store</h1>
    <p class="lead">Welcome to Rong's Store!</p>
</div>

@Html.ActionLink("Register as a new user", "Register", "Home")