<div class="row">
    <div class="col-sm-4"><h2>@ViewBag.Title</h2></div>
    <div class="col-sm-4" style="vertical-align:middle">
        @Html.Partial("_SearchPartial")
    </div>
    <div class="col-sm-4" style="text-align: right;">
        @Html.Partial("_CartPartial")
    </div>
</div>
<h3>@ViewBag.Message</h3>
<hr />